<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Profile</title>
        </head>
<body>

    <h2>Text input fields</h2>

    <div class="create-class content">
        <form action="/course" method="POST">
        
            <label for="Ctitle">Class title:</label>
            <input type="text" id="Ctitle" name="Ctitle" required><br>

            <label for="start_of_class">start of class(date and time):</label>
            <input type="datetime-local" id="start_of_class" name="start_of_class"><br>
            
            <label for="end_of_class">End of class(date and time):</label>
            <input type="datetime-local" id="end_of_class" name="end_of_class"><br>
            
            <label for="criteria">Attendance Criteria:</label>
            <input type="text" id="criteria" name="criteria" required><br>

            <label for="EligibleStudent">Select a file of Student Eligible to Enroll:</label>
            <input type="file" id="EligibleStudent" name="EligibleStudent" >
            
            <button>Submit</button>
        </form>
    </div>

    <p>Note that the form itself is not visible.</p>

    <p>Also note that the default width of text input fields is 20 characters.</p>

</body>

</html>