<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>You are logged into the app for a day</h1>
    <h3><%= user.email %></h3>
    <a href="auth/logout">Logout</a><br>
    <a href="course/NewCourse">create new course</a><br>
    <a href="course/AllCourse">all course</a><br>
    <a href="find/course">find course by id</a><br>
    <a href="find/lecture">find lecture by id</a><br>
    
</body>
</html>