<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>find Lecture</title>
        </head>
<body>
    <form action="/find/lecture" method="POST">
        <label for="Lid">lecture id:</label><br>
        <input type="text" id="Lid" name="Lid" required/><br>
        <input type="submit"/>
       </form>
</body>

</html>


