<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>find course</title>
        </head>
<body>
    <form action="/find/course" method="POST">
        <label for="Cid">course id:</label><br>
        <input type="text" id="Cid" name="Cid" required/><br>
        <input type="submit"/>
       </form>
</body>

</html>


